.tool-item {
    width: 278px;
    float: left;
    margin: 0 10px 10px 4px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #fff;
    position: static;
}


.tool-item-inner {
    padding: 10px 15px 10px 8px;
}

.tool-item a {
    color: #333;
    display: inline-block;
    text-decoration: none;
}

.item-icon {
    float: left;
    margin-right: 10px;
}

.item-icon img {
    width: 40px;
    height: 40px;
}

.tool-item-inner h3 {
    font-size: 16px;
    font-weight: bold;
    height: 22px;
    color: #444;
}

.item-desc {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tool-item:hover {
    background-color: #009688;
}

.tool-item:hover>.tool-item-inner>h3 a {
    color: #fff;
}

.tool-item:hover>.tool-item-inner>.item-desc {
    color: #fff;
}





/**
 * [size description]
 * @type {Number}
 */

.site-doc-color {
    font-size: 0;
}

.site-doc-color li {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px 10px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    line-height: 22px;
    font-size: 14px;
}

.site-doc-color li p[tips] {
    opacity: 0.8;
    font-size: 12px;
}

.site-doc-necolor li {
    width: 108px;
    margin-top: 15px;
    margin-left: 0;
    border-radius: 0;
}

.site-doc-bgcolor li {
    padding: 10px;
}

.site-doc-icon {
    margin-bottom: 50px;
    font-size: 0;
}

.site-doc-icon li {
    display: inline-block;
    vertical-align: middle;
    width: 127px;
    line-height: 25px;
    padding: 20px 0;
    margin-right: -1px;
    margin-bottom: -1px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    text-align: center;
    color: #666;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.site-doc-icon li .layui-icon {
    display: inline-block;
    font-size: 36px;
}

.site-doc-icon li .fontclass {
    display: none;
}

.site-doc-icon li .name {
    color: #c2c2c2;
}

.site-doc-icon li:hover {
    background-color: #f2f2f2;
    color: #000;
}

.site-doc-color .bottom-desc li:hover {
    cursor: pointer;
}

.layui-form-switch {
    margin-top: 2px !important;
}