dist: trusty
sudo: required

language: node_js
node_js:
  - "node"

before_script:
 - npm install electron-builder -g

cache:
  directories:
    - node_modules

install:
  - npm install

script:
  - npm run pack:all

branches:
  only:
    - master
